<!-- start: Main Menu -->
<div id="sidebar-left" class="span2">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">		
			{{#sidenav}}
				<li class="{{#active}}active w3-card-2{{/active}}"><a href="{{url}}"><i class="icon-{{icon}}"></i><span class="hidden-tablet"> {{display}}</span></a></li>
			{{/sidenav}}			
		</ul>
	</div>
</div>
<!-- end: Main Menu -->