<div class="row-fluid">
	<div class="sport-card w3-card-2 span4" onTablet="span6" onDesktop="span4">
		<div class="row-fluid">
			<a class="quick-button metro red btn-change-sport" data-sport="tennis">
				<img alt="" src="img/tennis_128.png"></img>
				<p id="game-name">Tênis</p>				
			</a>
		</div>
		<div class="box-content">
			<div>
				<p>
					Você agendou o uso da quadra para agora.
				</p>
				<p>
					Você pode usar a quadra até 18h.
				</p>
			</div>			
			<div >
				<button class="turnonoff-court btn btn-danger" data-status="on">Desligar quadra</button>
				<button class="sport-add-result btn btn-disabled"><span class="icon-plus"></span> Resultado</button>
			</div>
		</div>
	</div>
</div>

<div class="modal hide fade" id="change-sport-dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>O que você quer jogar?</h3>
		</div>
		<div class="modal-body">
			<div class="box-content">
			  <div class="span3" onTablet="span2" onDesktop="span3">
				<a class="quick-button metro orange btn-change-sport w3-card-2" data-dismiss="modal" data-sport="bascketball">
					<img alt="" src="/img/bascketball_128.png"></img>
					<p>Basquete</p>
				</a>
			  </div>
			  <div class="span3" onTablet="span2" onDesktop="span3">
				<a class="quick-button metro green btn-change-sport w3-card-2" data-dismiss="modal" data-sport="soccer">
					<img alt="" src="/img/soccer_128.png"></img>
					<p>Futebol</p>
				</a>
			  </div>
			  <div class="span3" onTablet="span2" onDesktop="span3">
				<a class="quick-button metro red btn-change-sport w3-card-2" data-dismiss="modal" data-sport="tennis">
					<img alt="" src="/img/tennis_128.png"></img>
					<p>Tênis</p>
				</a>
			  </div>
			  <div class="span3" onTablet="span2" onDesktop="span3">
				<a class="quick-button metro blue btn-change-sport w3-card-2" data-dismiss="modal" data-sport="volleyball">
					<img alt="" src="/img/volleyball_128.png"></img>
					<p>Vôlei</p>
				</a>
			  </div>
			</div>
		</div>
	</div>
</div>