<div class="row-fluid">
	
	<div class="sport-card w3-card-2 span4" onTablet="span6" onDesktop="span4">
		<div class="box-content">
			<table class="scheduled-card-table">
				<tr>
					<td>
						<a href="#" onclick="return false;">
							<img src="/img/clock_32.png">
							</img>
						</a>
					</td>
					<td>
						Alarme
						</br>
					
						Dom, 2ª, 5ª - <b>14:00</b>
					</td>
					<td>	
						<button type="button" class="close" data-dismiss="modal">×</button>			
					</td>
				</tr>
			</table>						
		</div>
	</div>
	
	<div class="sport-card w3-card-2 span4" onTablet="span6" onDesktop="span4">
		<div class="box-content">
			<table class="scheduled-card-table">
				<tr>
					<td>
						<a href="#" onclick="return false;">
							<img src="/img/curtains_bathroom-close-128.png" style="width:32px;">
							</img>
						</a>
					</td>
					<td>
						Fechar cortinas
						</br>
					
						4ª - <b>07:15</b>
					</td>
					<td>	
						<button type="button" class="close" data-dismiss="modal">×</button>			
					</td>
				</tr>
			</table>						
		</div>
	</div>
	
	<div class="scheduled-card w3-card-2 span4" onTablet="span6" onDesktop="span4">
		<div class="box-content">
			<table class="scheduled-card-table">
				<tr>
					<td>
						<a href="#" onclick="return false;">
							<img src="/img/clock_32.png">
							</img>
						</a>
					</td>
					<td>
						Alarme
						</br>
					
						6ª - <b>14:00</b>
					</td>
					<td>	
						<button type="button" class="close" data-dismiss="modal">×</button>			
					</td>
				</tr>
			</table>						
		</div>
	</div>

</div>
<div class="row-fluid">
	<div class="sport-card w3-card-2 span4" onTablet="span6" onDesktop="span4">
		<div class="box-content">
			<table class="scheduled-card-table">
				<tr>
					<td>
						<a href="#" onclick="return false;">
							<img src="/img/curtains_bathroom-128.png" style="width:32px;">
							</img>
						</a>
					</td>
					<td>
						Abrir cortinas
						</br>
					
						5ª, 6ª - <b>17:10</b>
					</td>
					<td>	
						<button type="button" class="close" data-dismiss="modal">×</button>			
					</td>
				</tr>
			</table>						
		</div>
	</div>
	
	<div class="sport-card w3-card-2 span4" onTablet="span6" onDesktop="span4">
		<div class="box-content">
			<table class="scheduled-card-table">
				<tr>
					<td>
						<a href="#" onclick="return false;">
							<img src="/img/clock_32.png">
							</img>
						</a>
					</td>
					<td>
						Alarme
						</br>
					
						3ª - <b>23:10</b>
					</td>
					<td>	
						<button type="button" class="close" data-dismiss="modal">×</button>			
					</td>
				</tr>
			</table>						
		</div>
	</div>
	
	
</div>