<div class="row-fluid">
	
	{{#tasks}}		
		<div class="scheduled-card w3-card-2 span4 {{#isEnabled}} active{{/isEnabled}}" onTablet="span6" onDesktop="span4">
			<div class="box-content">
				<input type="hidden" id="_id" value="{{_id}}"/>
				<input type="hidden" id="command" value="{{command}}"/>
				<table class="scheduled-card-table">
					<tr>
						<td class="scheduled-card-image-tr">
							<a href="#" onclick="return false;">
								<img src="{{img}}" class="scheduled-card-image">
								</img>
							</a>
						</td>
						<td>
							{{description}}
							</br>
						
							{{weekDays}} - <b>{{time}}</b>
						</td>
						<td>	
							<button type="button" class="close btn-schedule-delete" data-dismiss="modal">×</button>			
						</td>
					</tr>
				</table>						
			</div>
		</div>
	{{/tasks}}
	
</div>